# Neon Serverless PostgreSQL Database URL
# Obtain your free Postgres database URL at https://console.neon.tech
DATABASE_URL="postgresql://neondb_owner:your_password@ep-your-instance.us-east-2.aws.neon.tech/neondb?sslmode=require"
